.font {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.test {
  height: 300px;
  width: 300px;
  border: 3px solid blue;
  color: white;
  background-color: red;
  opacity: 1;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
